geopy                                       # geospatial lib
h3                                          # geospatial indexing
imbalanced-learn                            # data balancing
jupyterlab                                  # notebook
keras                                       # deep-lerning
matplotlib                                  # data visualization
overrides                                   # python oo code correctness decorator
pandas                                      # data frames
pyproj                                      # geographic projections
tensorflow-macos; sys_platform=="darwin"    # deep learning with MacOS accelerated hardware
tensorflow; sys_platform!="darwin"          # deep learning regular hardware
scikit-learn                                # machine learning
scikeras                                    # integrate scikit-learn + keras
shapely                                     # geometries
scipy                                       # misc
