h3                              # geospatial indexing
imbalanced-learn                # data balancing
jupyterlab                      # notebook
keras                           # deep-lerning
matplotlib                      # data visualization
pandas                          # data frames
scikit-learn                    # machine learning
scikeras                        # integrate scikit-learn + keras
shapely                         # geometries
